In [1]:
import pandas as pd

In [2]:
# Reading the file
auction=pd.read_csv('eBayAuctions.csv')

In [3]:
#checking if it has loaded correctly
auction.head()

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive?
0,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
1,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
2,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
3,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
4,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0

In [4]:
#checking variable types
auction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1972 entries, 0 to 1971
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      1972 non-null   object
 1   currency      1972 non-null   object
 2   sellerRating  1972 non-null   int64
 3   Duration      1972 non-null   int64
 4   endDay        1972 non-null   object
 5   ClosePrice    1972 non-null   float64
 6   OpenPrice     1972 non-null   float64
 7   Competitive?  1972 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 123.4+ KB

In [5]:
#5point-summary
auction.describe()

       sellerRating     Duration   ClosePrice    OpenPrice  Competitive?
count   1972.000000  1972.000000  1972.000000  1972.000000   1972.000000
mean    3560.238337     6.486308    36.449087    12.926268      0.540568
std     5973.011033     2.052906    89.493858    38.856149      0.498478
min        0.000000     1.000000     0.010000     0.010000      0.000000
25%      595.000000     5.000000     4.907500     1.230000      0.000000
50%     1853.000000     7.000000     9.995000     4.500000      1.000000
75%     3380.000000     7.000000    28.000000     9.990000      1.000000
max    37727.000000    10.000000   999.000000   999.000000      1.000000

In [6]:
# converting objects datatypes to category data types
auction['Category']=auction["Category"].astype('category')
auction['currency']=auction["currency"].astype('category')
auction['endDay']=auction["endDay"].astype('category')

In [7]:
# rechecking changed data type
auction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1972 entries, 0 to 1971
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      1972 non-null   category
 1   currency      1972 non-null   category
 2   sellerRating  1972 non-null   int64
 3   Duration      1972 non-null   int64
 4   endDay        1972 non-null   category
 5   ClosePrice    1972 non-null   float64
 6   OpenPrice     1972 non-null   float64
 7   Competitive?  1972 non-null   int64
dtypes: category(3), float64(2), int64(3)
memory usage: 84.1 KB

In [8]:
# checking for unique category values in each categorical data

unique_categories=auction["Category"].unique()
print(unique_categories)

['Music/Movie/Game', 'Automotive', 'SportingGoods', 'Home/Garden', 'Books', ..., 'Antique/Art/Craft', 'Jewelry', 'Pottery/Glass', 'Health/Beauty', 'Photography']
Length: 18
Categories (18, object): ['Antique/Art/Craft', 'Automotive', 'Books', 'Business/Industrial', ..., 'Photography', 'Pottery/Glass', 'SportingGoods', 'Toys/Hobbies']

In [9]:
for i, value in enumerate(unique_categories, 1):
            print(f"{i}. {value}")

1. Music/Movie/Game
2. Automotive
3. SportingGoods
4. Home/Garden
5. Books
6. Collectibles
7. Business/Industrial
8. Toys/Hobbies
9. Electronics
10. Computer
11. EverythingElse
12. Clothing/Accessories
13. Coins/Stamps
14. Antique/Art/Craft
15. Jewelry
16. Pottery/Glass
17. Health/Beauty
18. Photography

In [10]:
unique_currency=auction['currency'].unique()
print(unique_currency)

['US', 'GBP', 'EUR']
Categories (3, object): ['EUR', 'GBP', 'US']

In [11]:
unique_endDays=auction['endDay'].unique()
print(unique_endDays)
# i did this only too see if auctions ended or not on weekends

['Mon', 'Tue', 'Fri', 'Thu', 'Sat', 'Sun', 'Wed']
Categories (7, object): ['Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed']

In [12]:
# converting to dummies as endDays, categories and currency might impact 
auction_dummy = pd.get_dummies(auction, drop_first=True)

In [13]:
#checking dummy
auction_dummy.head()

,sellerRating,Duration,ClosePrice,OpenPrice,Competitive?,Category_Automotive,Category_Books,Category_Business/Industrial,Category_Clothing/Accessories,Category_Coins/Stamps,...,Category_SportingGoods,Category_Toys/Hobbies,currency_GBP,currency_US,endDay_Mon,endDay_Sat,endDay_Sun,endDay_Thu,endDay_Tue,endDay_Wed
0,3249,5,0.01,0.01,0,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,3249,5,0.01,0.01,0,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,3249,5,0.01,0.01,0,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
3,3249,5,0.01,0.01,0,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,3249,5,0.01,0.01,0,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False

In [14]:
#checking correlation with each variable (numerical and catagorical data)

correlation=auction_dummy.corr()

In [15]:
correlation['Competitive?']
# since i only need correlation with classifier variable Competitive?

sellerRating                    -0.033956
Duration                        -0.026478
ClosePrice                       0.178458
OpenPrice                       -0.096646
Competitive?                     1.000000
Category_Automotive             -0.117966
Category_Books                  -0.013659
Category_Business/Industrial     0.024286
Category_Clothing/Accessories   -0.018493
Category_Coins/Stamps           -0.067502
Category_Collectibles            0.027451
Category_Computer                0.034504
Category_Electronics             0.088178
Category_EverythingElse         -0.057122
Category_Health/Beauty          -0.135497
Category_Home/Garden             0.054501
Category_Jewelry                -0.073025
Category_Music/Movie/Game        0.063468
Category_Photography             0.049952
Category_Pottery/Glass          -0.038707
Category_SportingGoods           0.096284
Category_Toys/Hobbies           -0.007844
currency_GBP                     0.083435
currency_US                     -0.058688
endDay_Mon                       0.165297
endDay_Sat                      -0.105716
endDay_Sun                      -0.050524
endDay_Thu                       0.042973
endDay_Tue                      -0.005196
endDay_Wed                      -0.024166
Name: Competitive?, dtype: float64